* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    width: 100%;
    height: 340px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-image::after {
    content: "";
    width: 100%;
    height: 340px;
    background-image: url(./image/card-shadow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -70px;
    left: 0;
    transition: all .5s ease-in-out;

}

.card-content {
    position: absolute;
    top: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
    /* background-color: #25374ecb; */
    background-color: transparent;
    color: #fff;
    text-align: center;
    transition: all .5s ease-in-out;
}

.card-content h1 {
    font-size: 24px;
}

.card-content p {
    font-size: 14px;
}

.card:hover .card-content {
    background-color: #25374ecb;
    transition: all .5s ease-in-out;
    top: 0;
    gap: 10px;
}

.card:hover .card-image::after {
    opacity: 0;
    transition: all .5s ease-in-out;

}

.flex-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 30px;
    gap: 30px;
}

.flex-card>.card {
    width: 248px;
}

.flex-card>.first-card {
    margin-left: auto;
}