* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    width: 100%;
    height: 340px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-image::after {
    content: "";
    width: 100%;
    height: 150px;
    background-image: url(./image/card-shadow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all .5s ease-in-out;

}

.card-content {
    position: absolute;
    top: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px;
    /* background-color: #25374ecb; */
    background-color: transparent;
    color: #fff;
    text-align: center;
    transition: all .5s ease-in-out;
}

.card-content h1 {
    font-size: 18px;
}

.card-content p {
    font-size: 14px;
}

.card:hover .card-content {
    background-color: #25374ecb;
    transition: all .5s ease-in-out;
    top: 0;
    gap: 10px;
}

.card:hover .card-image::after {
    opacity: 0;
    transition: all .5s ease-in-out;

}

.flex-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 30px;
    gap: 30px;
}

.flex-card>.card {
    width: 248px;
}

.flex-card>.first-card {
    margin-left: auto;
}

.grid-card .card:last-child {
    display: none;
}

@media screen and (min-width: 750px) and (max-width: 1080px) {
    .card-container {
        margin: 0 20px;
    }

    .grid-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .grid-card .card:last-child {
        display: block;
    }

    .flex-card {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .flex-card .card {
        margin-left: 0;
        width: calc(100% /3 - 20px);
    }

    .flex-card .card:first-child {
        display: none;
    }

    .card {
        width: 100%;
        height: 340px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
}

@media screen and (min-width: 550px) and (max-width: 749px) {
    .card-container {
        margin: 0 20px;
    }

    .grid-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .grid-card .card:last-child {
        display: none;
    }

    .flex-card {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .flex-card .card {
        margin-left: 0;
    }

    .flex-card .card:first-child {
        display: block;
    }

    .card {
        width: 100%;
        height: 340px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .flex-card .card {
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 549px) {
    .card-container {
        margin: 0 20px;
    }

    .grid-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .grid-card .card:last-child {
        display: none;
    }

    .flex-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

    }

    .flex-card .card {
        margin-left: 0;
    }

    .flex-card .card:first-child {
        display: block;
    }

    .card {
        width: 100%;
        height: 340px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .flex-card .card {
        width: 100%;
    }
}